body {
  font-family: sans-serif;
  background-color: #f9f9f9;
}

header {
  background: #372549;
  color: white;
  padding: 0.5rem;
  text-align: left;
  font-size: 1.5rem;
}

.transactions{
    padding: 2rem;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
  color: #444;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

footer {
  background: #1A1423;
  color: white;
  text-align: center;
  padding: 0.5rem;
  position:fixed;
  bottom: 0;
  width: 100%;
}

/* General button style */
button {
  padding: 6px 12px;
  margin: 2px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

/* Specific button colors */
.btn-edit {
  background-color: #007bff;
}
.btn-edit:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #dc3545;
}
.btn-delete:hover {
  background-color: #a71d2a;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.filters label {
  font-weight: bold;
}

.filters input, .filters select {
  padding: 8px;
  font-size: 1rem;
}

#applyBtn {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#applyBtn:hover {
  background-color: #218838;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  animation: fadeIn 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  position: relative;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal-content input, .modal-content select {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  font-size: 1rem;
}


.dashboard-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #B75D69;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
}

.dashboard-btn:hover {
  background-color: #9c4a57;
}
